.row-header{
    margin:0 auto;
    padding: 0;
}
.row.row-content{
    margin: 0 auto;
    padding:50px 0 50px 0;
    min-height: 400px;
}
.footer{
    background-color:darkgrey;
    color: floralwhite;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}
.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0 auto;
    background-color: royalblue;
    color: floralwhite;
}
address{
    font-size: 90%;
    margin: 0;
    color: #0f0f0f;
}
ul{
    list-style: none;
    padding: 0;
    margin-left: 10px;
}
li{
    color: floralwhite;
}
body{
    padding: 54px 0 0 0;
    z-index: 0;
}
.navbar-dark{
    background-color:darkred;
}

/**a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}


a:link {
    color: floralwhite;
}

a:visited {
    color: floralwhite;
}

a:hover {
    border-bottom: 1px solid;

}

a:active {
    color: black;
}*

